<h3>注文履歴詳細</h3>

<h4>注文情報</h4>
<table>
  <tr>
    <td>注文日</td>
    <td></td>
  </tr>
  <tr>
    <td>配送先</td>
    <td></td>
  </tr>
  <tr>
    <td>支払方法</td>
    <td></td>
  </tr>
</table>

<h4>請求情報</h4>
<table>
  <tr>
    <td>商品合計</td>
    <td></td>
  </tr>
  <tr>
    <td>送料</td>
    <td></td>
  </tr>
  <tr>
    <td>ご請求額</td>
    <td></td>
  </tr>
</table>

<h4>注文内容</h4>
<table>
  <tr>
    <th>商品</th>
    <th>単価(税込)</th>
    <th>個数</th>
    <th>小計</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>